<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <title>{{title}}</title>
</head>
<body>
  <div class="content">
    <div class="main__content">
      <div class="main__messenger">
        <img class="message__window" src="../images/messenger.png" alt="messenger">
        <div class="messages">
          <div class="message__text">
            {{#messages}}
              <div class="message__single">
                <div class="message__details">
                  <h4>{{name}} says:</h4>
                  <p>{{posted_date}}</p>
                </div>
                <p>{{message}}</p>
              </div>
            {{/messages}}
          </div>
        </div>
      </div>
      <div class="message__form">
        <form method="POST" action="/">
          <input type="text" id="username" name="username" placeholder="name" required>
          <textarea type="text" id="message" name="message" placeholder="message" required></textarea>
          <input class="submit__btn" type="submit" value="Send">
        </form>
      </div>
    </div>
  </div>
  <footer class="footer--center">
    <p>Copyright © {{year}} AnthonyHeinrichs</p>
    <a href="https://github.com/AnthonyHeinrichs" target="_blank">
      <img class="github" src="../images/github.svg" alt="github"></img>
    </a>
  </footer>
</body>
</html>